

.appointment {
    display: flex;
    gap: 2rem;
    align-items: center;
    height: auto;



    &__image {
        flex: 1;
        padding: 2rem;
        align-content: center;

        background: rgb(212,237,255);
        background: -moz-linear-gradient(306deg, rgba(212,237,255,1) 0%, rgba(212,255,245,1) 100%);
        background: -webkit-linear-gradient(306deg, rgba(212,237,255,1) 0%, rgba(212,255,245,1) 100%);
        background: linear-gradient(306deg, rgba(212,237,255,1) 0%, rgba(212,255,245,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4edff",endColorstr="#d4fff5",GradientType=1);

        height: fit-content;
        border-radius: 1rem;


        img {
            max-width: 100%;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        button {
            align-self: baseline;
            padding-left: 4rem;
            padding-right: 4rem;

        }
    }
}