

.hero {
    height: 80vh;
    padding: 0 2rem;
    gap: 2rem;
    padding: 2rem;

    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
        padding: 3rem 1rem;
    }


    div {
        flex: 1;
        flex-direction: column;
        align-content: center;
    }
    .content {
        display: flex;
        flex-direction: column;
        margin: auto 0;
        gap: 2rem;

        span {
            color: $primary-color;
            width: 24px;
        }

        .hero-features {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            .hero-feature {
                display: flex;
                flex-direction: row;
                gap: 0.5rem
                
            }
        }
        button {
            align-self: baseline;
        }

        .hero-buttons {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .outline {
                border: 1px solid $secondary-color;
            }
        }
    }

    .pre-form { 
        background-image: url(https://3e05e1059faef26605a551bdc8638217.cdn.bubble.io/f1718923459807x262284187237837200/hero_background.png);
        background-repeat: no-reeat;
        background-position: center;
        background-size:cover;

        border-radius: 2rem;

        min-height: 400px;

        @media (max-width: 768px) {
            padding: 3rem 0;
        }

        .schedule-simulation {
            display: flex;
            flex-direction: column;
            padding-bottom: 1.5rem;
        
            max-width: 300px;
            margin: 0 auto;
            background-color: white;
            border-radius: 1rem;

            p.schedule-head {
                width: 100%;
                border-bottom: 1px solid $text-color;
                padding: 1.5rem;
                text-align: center;
                line-height: 1.1rem;
                margin-bottom: 1.5rem;
            }

            form {
                display: flex;
                flex-direction: column;
                padding:0 1.5rem;

                label {
                    color: $text-color;
                }


                input {
                    padding: 0.5rem 1rem;
                    min-height: 4rem;
                    font-size: 1rem;
                    border-radius: 0.5rem;
                    border: 1px solid rgba($text-color, $alpha: 0.75);
                    margin-bottom: 1.25rem;
                }
    
                input:focus{
                    outline: 1.5px solid rgba($primary-color, $alpha: 0.4);
                    border: 1.5px solid rgba($primary-color, $alpha: 1.0);
                }
    
                ::-webkit-calendar-picker-indicator {
                    font-size: 1.5rem;
                }
            }

            button {
                margin: 0 1.5rem;
            }

        }
    }
}
