// Cores
$primary-color: #FF4667;
$secondary-color: #F5F5F6;
$accent-color: #15A5F6;
$text-color: #483844;
$neutral-light-color: #F5F5F6;

// Tipografia
$base-font-size: 16px;
$font-family: 'Axiforma', Arial, Helvetica, sans-serif;

// Espaçamentos
$base-padding: 1rem;
$base-margin: 1rem;

// Outros
$border-radius: 8px;