

section {
        display: flex;
        width: auto;
        margin: 4rem auto;
        color: $text-color;
        max-width: 1200px;
        padding: 1.5rem 1rem;


        @media (max-width: 1200px) {
            max-width: 992px;
        }

        @media (max-width: 992px) {
            max-width: 768px;
        }

}


    @media (max-width: 992px) {
        section.wrap {
            flex-direction: column;
        }
        
        section.wrap.reverse {
            flex-direction: column-reverse;
        }
    }

