h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.6px;
    font-family: 'Axiforma', Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: -0.6px;
    font-family: 'Axiforma', Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-family: 'Axiforma', Arial, Helvetica, sans-serif;
}

p.bold {
    font-weight: bold;
}

p.text-small {
    font-size: 0.875rem;
    font-family: 'Axiforma', Arial, Helvetica, sans-serif;
}

.hightlight {
    color: $primary-color;
}